* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    letter-spacing: 0.5px;
}

.card-box {
    display: block;
    width: 100vw;
}

.search-div {
    margin-top: 5vh;
}

input[type=text] {
    width: 20%;
    padding: 12px 20px;
    /* margin: 8px 0; */
    background-color: white;
    box-sizing: border-box;
    border-radius: 10px;
    inset: 20px 40px 30px 10px;
    box-shadow: inset 0 0 3rem rgba(0, 0, 0 0.5);
    outline: none;
}

.cards-list {
    display: grid;
}

.cards-list-hidden {
    display: none;
}

.images {
    box-shadow: inset 0 0 3rem rgba(0, 0, 0 0.5);
}

.card {
    border-radius: 4px;
    background-color: rgb(105, 109, 112);
    border: 1px solid grey;
    padding-top: 2vh;
}



.card:hover {
    border: 1px solid #61dafb;
}

.card > img {
    box-shadow: inset 0 0 3rem rgba(0, 0, 0 0.5);
    border-radius: 10px;
}

.card > h4 {
    padding-top: 2px;
    padding-bottom: 5px;
}

.card > p {
    padding-bottom: 5px;
}

.card-container {
    /* margin-top: 10vh; */
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 3vh 9vw;
    padding: 2vh;
}




/* media queries styling 'tablet'*/

@media screen and (max-width: 1024px) {
   .card-container{
    grid-template-columns: repeat(2, 1fr);
    margin: 0.5vh 0.5vw;
    gap: 0.2rem
   }

   .card {
    padding-top: 0.5vh;
   }

   input[type=text] {
    width: 40%;
    padding: 10px 16px;
    /* margin: 8px 0; */
    background-color: white;
    box-sizing: border-box;
    border-radius: 10px;
    inset: 20px 40px 30px 10px;
    box-shadow: inset 0 0 3rem rgba(0, 0, 0 0.5);;
}
}

@media screen and (max-width: 600px) {
    .card-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
       }

       input[type=text] {
        width: 60%;
        padding: 7px 16px;
        /* margin: 8px 0; */
        background-color: white;
        box-sizing: border-box;
        border-radius: 10px;
        inset: 20px 40px 30px 10px;
        box-shadow: inset 0 0 3rem rgba(0, 0, 0 0.5);;
    }
}